# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
alabaster==0.7.12
babel==2.8.0
#ca-certificates==2020.7.22=0
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
dill==0.3.2
docutils==0.16
emd-signal==0.2.10
idna==2.10
imagesize==1.2.0
jinja2==2.11.2
joblib==0.16.0
kiwisolver==1.2.0
#libcxx==10.0.0=1
#libedit==3.1.20191231
#libffi==3.3
markupsafe==1.1.1
matplotlib==3.3.2
multiprocess==0.70.10
#ncurses==6.2
numpy==1.19.2
numpydoc==1.1.0
#openssl==1.1.1g
packaging==20.4
pandas==1.1.2
pathos==0.2.6
pillow==7.2.0
pip==20.2.2
pox==0.2.8
ppft==1.6.6.2
pygments==2.7.0
pyparsing==2.4.7
#python==3.6.12
python-dateutil==2.8.1
pytz==2020.1
#readline==8.0
requests==2.24.0
scikit-learn==0.23.2
scipy==1.5.2
setuptools==49.6.0
six==1.15.0
sklearn==0.0
snowballstemmer==2.0.0
sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
#sqlite==3.33.0
threadpoolctl==2.1.0
#tk==8.6.10
urllib3==1.25.10
wheel==0.35.1
#xz==5.2.5
#zlib==1.2.11
